@charset "UTF-8";
body {
  margin: 0;
  font-family: '微軟正黑體';
  display: flex;
  justify-content: center;
  align-items: center; }

.container-fluid {
  background-color: #E1E1E1;
  min-height: 100vh;
  overflow: auto; }
  .container-fluid #head {
    background-color: #4A90E2;
    position: relative; }
    .container-fluid #head .tab {
      padding: 10px 0;
      box-sizing: border-box;
      color: #ffffff;
      font-size: 24px;
      position: relative;
      font-weight: 700;
      cursor: pointer; }
      .container-fluid #head .tab:hover {
        color: #00408B; }
      .container-fluid #head .tab.focus {
        color: #00408B; }
        .container-fluid #head .tab.focus::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          background-color: blue;
          height: 5px; }
  .container-fluid #body #addTask {
    background-color: #f2f2f2;
    margin: 20px 0;
    border-radius: 5px;
    position: relative; }
    .container-fluid #body #addTask input {
      width: 100%; }
  .container-fluid #body #tasks .task {
    background-color: #a4d4b0;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0; }
    .container-fluid #body #tasks .task.complete {
      background-color: #F2F2F2; }
      .container-fluid #body #tasks .task.complete .taskname {
        color: #666;
        text-decoration: line-through; }
    .container-fluid #body #tasks .task.ontop {
      background-color: #FFF2DC; }
      .container-fluid #body #tasks .task.ontop .fa-star {
        color: #F5A623; }
        .container-fluid #body #tasks .task.ontop .fa-star:hover {
          color: #F5A623; }
    .container-fluid #body #tasks .task input[type=checkbox] {
      width: 20px;
      height: 20px; }
    .container-fluid #body #tasks .task .fa-star, .container-fluid #body #tasks .task .fa-pen {
      color: #aaa;
      cursor: pointer; }
      .container-fluid #body #tasks .task .fa-star:hover, .container-fluid #body #tasks .task .fa-pen:hover {
        color: #333; }
    .container-fluid #body #tasks .task.ontop {
      background-color: #FFF2DC; }
    .container-fluid #body #tasks .task .row:nth-child(2) {
      margin-top: 10px; }
    .container-fluid #body #tasks .task .pop-btn {
      position: relative;
      cursor: pointer; }
      .container-fluid #body #tasks .task .pop-btn:hover svg, .container-fluid #body #tasks .task .pop-btn.focus svg {
        color: #F5A623; }
      .container-fluid #body #tasks .task .pop-btn > :first-child {
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateX(35px);
        opacity: 1;
        transition: all .5s;
        width: 100px;
        height: fit-content;
        padding: 8px; }

.transition {
  transition: all .2s; }

.center {
  display: flex;
  justify-content: center;
  align-items: center; }

.hide {
  display: none;
  opacity: 0; }

.task-name, .task-detail {
  margin: 10px 0; }
  .task-name .title, .task-detail .title {
    font-size: 16px; }
  .task-name .btns, .task-detail .btns {
    margin: 10px 0 0; }
    .task-name .btns svg, .task-detail .btns svg {
      margin: 5px; }
    .task-name .btns button, .task-detail .btns button {
      font-size: 20px;
      font-weight: 500; }
    .task-name .btns .cancel, .task-detail .btns .cancel {
      color: #D0021B;
      background-color: #fff; }
      .task-name .btns .cancel:hover, .task-detail .btns .cancel:hover {
        background-color: #ddd; }
    .task-name .btns .add, .task-detail .btns .add {
      background-color: #4A90E2;
      color: #fff; }
      .task-name .btns .add:hover, .task-detail .btns .add:hover {
        background-color: #609de6; }

.task-name {
  font-size: 20px; }
  .task-name input[type=text] {
    padding: 5px 8px 5px 40px;
    font-size: 18px; }
  .task-name svg {
    position: absolute;
    left: 30px;
    color: #666666;
    height: 100%; }

.task-detail {
  display: none; }
